{% from 'bootstrap5/nav.html' import render_nav_item, render_breadcrumb_item %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- {{ bootstrap.load_css() }} -->
    <title>
        {% if title %}
            {{title}}
        {% else %}
            Lshop
        {% endif %}
    </title>
</head>
<body>
 
<!-- ВЕРХНЕЕ МЕНЮ -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">
            <a class="navbar-brand " href="{{url_for('main.index')}}">EShop</a>
            <ul class="nav navbar-nav">
                <li>{{ render_nav_item('main.index', 'Главная') }} </li>
                {% if current_user.is_authenticated %}
                   <li>{{ render_nav_item('main.user', 'Профиль', username=current_user.username)}}</li> 
                   <li>{{ render_nav_item('product.new_product', 'Добавить товар')}}</li> 
                {% endif %}
            </ul>
            
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    {% if current_user.is_anonymous  %}
                        <li class="btn nav-item bg-success" style="margin-right:5px">
                            {{ render_nav_item('auth.login', 'Войти') }}
                        </li>
                         <li class="btn nav-item bg-secondary">
                            {{ render_nav_item('auth.register', 'Регистрация') }}
                         </li>	
                        
                    {% else %}
                    <li class="btn nav-item bg-secondary">
                        
                        {{ render_nav_item('auth.logout', 'Выйти') }}
                     </li>
                    {% endif %}
                		
                </ul>		  
            </div>
        </div>
    </nav>
</div>
<!-- КОНЕЦ ВЕРХНЕГО МЕНЮ -->

<!-- ОТОБРАЖЕНИЕ FLASH СООБЩЕНИЙ -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container">
            {% for m in messages %}
                <div class="alert alert-info">{{m}}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<!-- КОНЕЦ ОТОБРАЖЕНИЯ FLASH СООБЩЕНИЙ -->

    {% block app_content %}
        
    {% endblock %}
</body>
</html>